.box-size {
  background-color: rgb(1, 93, 121);
}
li:hover {
  color: rgb(189, 141, 235);
  background-color: rgb(61, 56, 51);
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: 1s;
}
